html{
	background-color: #151515;
}

head, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

div{
	border-radius:10px ;
	display: block;
}

img{
	right: 10px;
	margin: 10px;
	left: 10px;
}

.center{
    color:#7E0002;
	background-color: #191919;
	box-shadow: 0 0 20px #191919;
}

.osnova{
	min-height: 200%;
	text-align: center;
	background-color: #191919;
	box-shadow: inset;
	color: #7E0002;
	box-shadow: 0 0 20px #191919;
}

.img_dl{
	height:30%; 
	width:30%;
	transition: 1s;
}

.img_dl:hover {
	transform: scale(1.2);
}

.img_kr{
	height:20%; 
	width:20%;
	transition: 1s;
	margin: 20px;
	top:20px;
}

.img_kr:hover {
	transform: scale(1.2);
}

#metka{
	height:70px; 
	width:70px;
}

h2{
	text-align:center;
}

h1{
	text-align:center;
}

a{
	text-decoration: none;
	color:#7E0002;
}
